@model Albergo.Models.Prenotazione

@{
    ViewBag.Title = "Nuova Prenotazione";
}



<h2>Nuova Prenotazione</h2>

@using (Html.BeginForm("AddPren", "Prenotazioni", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Data_Pren)
        @Html.EditorFor(model => model.Data_Pren, new { htmlAttributes = new { @class = "form-control", type = "datetime-local" } })
        @Html.ValidationMessageFor(model => model.Data_Pren, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Data_Arrivo)
        @Html.EditorFor(model => model.Data_Arrivo, new { htmlAttributes = new { @class = "form-control", type = "datetime-local", id = "Data_Arrivo" } })
        @Html.ValidationMessageFor(model => model.Data_Arrivo, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Data_Partenza)
        @Html.EditorFor(model => model.Data_Partenza, new { htmlAttributes = new { @class = "form-control", type = "datetime-local", id = "Data_Partenza" } })
        @Html.ValidationMessageFor(model => model.Data_Partenza, "", new { @class = "text-danger" })
    </div>


    <div id="dateError" class="text-danger" style="display: none;">
        La data di arrivo non può superare la data di partenza.
    </div>


    if (ViewBag.Pensioni != null)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Pensione_ID)
            @Html.DropDownListFor(model => model.Pensione_ID, new SelectList(ViewBag.Pensioni, "Pensione_ID", "Tipo"), "-- Seleziona Pensione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Pensione_ID, "", new { @class = "text-danger" })
        </div>

    }

    if (ViewBag.Camere != null)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Camera_ID)
            @Html.DropDownListFor(model => model.Camera_ID, new SelectList(ViewBag.Camere, "Camera_ID", "Numero"), "-- Seleziona Camera --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Camera_ID, "", new { @class = "text-danger" })
        </div>

    }

    <div class="form-group">

        @if (ViewBag.Ospiti != null)
        {
            <label for="Ospite_ID"><strong>Pensione:</strong></label>
            <select id="Ospite_ID" name="Ospite_ID" class="form-control">
                @foreach (var ospiti in ViewBag.Ospiti)
                {
                    <option value="@ospiti.Ospite_ID">@ospiti.Nome</option>
                }
            </select>

        }
    </div>

    <div class="form-group m-5">
        <input type="submit" value="Inserisci Prenotazione" class="btn btn-primary" />
    </div>
}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {

        function validateDateRange() {
            var arrivalDate = new Date($('#Data_Arrivo').val());
            var departureDate = new Date($('#Data_Partenza').val());

            if (arrivalDate > departureDate) {

                $('#dateError').show();
                $('input[type="submit"]').prop('disabled', true);
            } else {

                $('#dateError').hide();
                $('input[type="submit"]').prop('disabled', false);
            }
        }


        $('#Data_Arrivo, #Data_Partenza').change(validateDateRange);
    });
</script>
