@model Albergo.Models.Prenotazione
@{
    ViewBag.Title = "Details";
    var servizi = TempData["ServiziOspite"] as List<Albergo.Models.PS>;
}

<div class="container mt-4">

    <h2 class="mt-4">Checkout Details</h2>

    <div class="mt-3">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-2"><strong>Prenotazione ID:</strong></p>
                <p>@Model.Prenotazione_ID</p>

                @if (Model.Ospite != null)
                {
                    <p class="mb-2"><strong>Nome:</strong> @Model.Ospite.Nome</p>
                    <p class="mb-2"><strong>Cognome:</strong> @Model.Ospite.Cognome</p>
                }
                else
                {
                    <p class="mb-2 text-muted"><em>Dettagli della camera non disponibili</em></p>
                }

                @if (Model.Camera != null)
                {
                    <p class="mb-2"><strong>Camera Numero:</strong></p>
                    <p>@Model.Camera.Numero</p>
                }
                else
                {
                    <p class="mb-2 text-muted"><em>Dettagli della camera non disponibili</em></p>
                }

                @if (servizi != null)
                {
                    <h3>Lista servizi acquistati</h3>
                    foreach (var servizio in servizi)
                    {
                        <div>
                            <p>@servizio.Servizio.Tipo</p><p>@servizio.Data_Serv</p><p>@servizio.Quantita</p><p>@(servizio.PrezzoServ)€</p>
                        </div>

                    }

                }





            </div>

            <div class="col-md-6">
                <p class="mb-2"><strong>Data Arrivo:</strong></p>
                <p>@Model.Data_Arrivo.ToShortDateString()</p>

                <p class="mb-2"><strong>Data Partenza:</strong></p>
                <p>@Model.Data_Partenza.ToShortDateString()</p>

                @if (Model.Checkout != null)
                {
                    <p class="mb-2"><strong>Notti:</strong></p>
                    <p>@Model.Checkout.Notti</p>

                    <p class="mb-2"><strong>Totale Servizi:</strong></p>
                    <p>@Model.Checkout.TotServizi.ToString("C")</p>

                    <p class="mb-2"><strong>Totale Prenotazione:</strong></p>
                    <p>@Model.Checkout.TotPren.ToString("C")</p>
                }
                else
                {
                    <p class="mb-2 text-muted"><em>Dettagli del checkout non disponibili</em></p>
                }
            </div>
        </div>
    </div>
</div>
